body{
    font-family: 'Poppins', sans-serif;
   margin: 0;
   padding: 0;
   background-size: cover;
}

/*-----search-bar---------*/
 .bar-tow{
     margin: 10px;
     padding: 10px;
     text-align: right;
 }

.bar{
    margin: 0 0 10px;
    padding: 0;
    color: rgb(255, 0, 0);
    font-size:34px;
    font-weight: 900;
}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}

input[type="type"]
{
    background: #ffff;
    width: 340px;
    height: 50px;
    border: none;
    outline: none;
    padding: 0 25px ;
    border-radius: 25px 0 0 25xp;    
}

input[type="submit"]
{
     position: relative;
     border-radius: 0 25px 25px 0;
     width: 150px;
     height: 50px;
     border: none;
     outline: none;
     cursor: pointer;
     background: #ffc107;
     color:#ffff ;
}


/*------assignment 1st section-----------*/
.diet-food{
margin: 0;
padding: 0;
margin-top:5px;
 width: 90%;
 height: 5px;      
} 
h1{

  font-size: 50px;
    font-weight: 900; 
 }

 h2{
     font-size: 30px;
     font-weight: 900;
 }
p{
    font-size: 20px;
   font-weight: 700;
}

.color{
    color: coral;
}

.picture{
    padding-left: 5%;
    width: 90%;
    margin-top: 10px;
}

.picture img{
    width: 100%;
   

}
  
.fiexible-container{
    display: flex;
    margin-bottom: 700px;
}
.ancor-tag{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(rgb(214, 132, 84), rgb(247, 120, 2));
    padding: 7px;
    border-radius: 5px;
}




/*---------assignment 2nd section---*/

.blod{
    font-size: 25px;
    font-weight: 900;
}  

.picture-two{

    position: relative;
    max-width: 700px;
    margin: 0;
    padding-left: 0;
    background-position: left;
    width: 80%;
    height: 20px;
    margin-top: 5px;
    font-size: 25px;
    margin-top: 10px;
}


/*--------assignment 3rd section-----*/
#my-favourite-food{
    text-align: center;
    margin: 100px;
    padding: 90px;
    height: 80px;
    margin-top: 5px;
}





/*----------asssignment 4th section---*/

.card{
     box-shadow: 20px 20px 40px black; 
     width: 50%;
    height: 500px;
    background: white;
    text-align: justify;
    font-family: sans-serif;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 10px solid white ;
}

.pra{
    font-size: 15px;
    font-weight: 600;
}


/*-------Food management section----*/
.card-box{
    border: 5px solid rgb(235, 230, 230);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 400px;
    width: 600px;
    display: inline-block;
}

/*-------assignment 5th  section----*/
.flower-two-three{
    border: 10px solid rgb(235, 230, 230);
    border-radius: 50px;
    padding: 10px;
    margin: 70px;
    width: 90%;
    height: 200px;
    display: inline-block;
    font-size: 50px; 
    text-align: justify;
    font-weight: 900;
}

.box-tag-one{
    width: 33.33%;
    font-size:10px ;
}

.box-tag-two{
width: 33.33%;
font-size:10px ;
}

.box-tag-three{
width: 33.33%;
font-size:10px ;
}



/*---------assignment 6th section------*/
.last-section{
   background-color: black; 
   
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    width: 100%;
    height: 300px;
    display: inline-block;
    font-size: 50px; 
    text-align: justify;
    font-weight: 900; 
}

.box-tag{
    text-align: center;

}

.last-section{
    text-align: center;
   
    
}

.font{
    color: chocolate;
    
}
.gray{
    color: gray;
}

.white{
    color: rgb(90, 86, 86);
}



