body{
    font-family: 'Poppins', sans-serif;
   margin: 0;
   margin-top: 15px; 
   }

 h1{
     font-size: 50px;
    font-weight: 900; 
 }

 h2{
     font-size: 30px;
     font-weight: 900;
 }
p{
    font-size: 20px;
   font-weight: 700;
}

.color{
    color: coral;
}

.picture{
    padding-left: 5%;
    width: 90%;
    margin-top: 200px;
}

.picture img{
    width: 100%;

}
  
.fiexible-container{
    display: flex;
    margin-bottom: 700px;
}
.ancor-tag{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(rgb(214, 132, 84), rgb(247, 120, 2));
    padding: 7px;
    border-radius: 5px;
}



.blod{
    font-size: 25px;
    font-weight: 900;
}  

.picture-two{

    position: relative;
    max-width: 700px;
    margin: 0;
    padding-left: 0;
    background-position: left;
    width: 80%;
    height: 100px;
    margin-top: 5px;
    font-size: 25px;
}

#my-favourite-food{
    text-align: center;
    margin: 100px;
    padding: 90px;
    height: 80px;
    margin-top: 5px;
}

.manu-one{
 border: 5px solid white;
 border-radius: 10px;
 margin: 10px;
 padding: 10px;
 text-align: justify;
 width: 20%;
 height: 20px;
 margin-top: 5px;

}

.wrap{
    width: 800px;
    height: 500px;
    margin: 25px;
    margin-top: 10px;
    padding: 30px;
   

}
.card{
     box-shadow: 20px 20px 40px black; 
     width: 50%;
    height: 500px;
    background: white;
    text-align: justify;
    font-family: sans-serif;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 10px solid white ;
   
   
}

.flower-two-three{
    border: 10px solid rgb(235, 230, 230);
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    width: 100%;
    height: 300px;
    display: inline-block;
    font-size: 50px; 
    text-align: justify;
   font-weight: 900;

}

.box-tag-one{
    width: 33.33%;
    font-size:10px ;
}
.box-tag-two{
width: 33.33%;
font-size:10px ;
}
.box-tag-three{
width: 33.33%;
font-size:10px ;
}


.last-section{
    background-color: black;
    border: 5px solid rgb(235, 230, 230);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    height: 300px;
    width: 90%;
    display: inline-block;
    
}

.box-tag{
    text-align: center;

}

.last-section{
    text-align: center;
    
}

.font{
    color: chocolate;
    
}
.gray{
    color: gray;
}

.white{
    color: white;
}