/*--------1st-section-----*/

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
   }

 h1{
     font-size: 50px;
    font-weight: 900; 
 }

 h2{
     font-size: 30px;
     font-weight: 900;
 }
p{
    font-size: 20px;
   font-weight: 700;
}

.color{
    color: coral;
}

.picture{
    padding-left: 5%;
    width: 90%;
    margin-top: 200px;
}

.picture img{
    width: 100%;
}
  
.fiexible-container{
    display: flex;
    margin-bottom: 700px;
}
.ancor-tag{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(rgb(214, 132, 84), rgb(247, 120, 2));
    padding: 7px;
    border-radius: 5px;
}



.blod{
    font-size: 25px;
    font-weight: 900;
}  

.picture-two{

    position: relative;
    max-width: 700px;
    margin: 0;
    padding-left: 0;
    background-position: left;
    width: 80%;
    height: 100px;
    margin-top: 100px;
}

#my-favourite-food{
    text-align: center;
    margin: 100px;
    padding: 90px;
    height: 80px;
}

.manu-one{
 border: 5px solid white;
 border-radius: 10px;
 margin: 10px;
 padding: 10px;
 text-align: justify;
 width: 20%;
 height: 20px;

}

.wrap{
    width: 800px;
    height: 500px;
    margin: 25px;
    margin-top: 10px;
    padding: 30px;
   

}
.card{
     box-shadow: 20px 20px 40px black; 
   width: 50%;
    height: 500px;
    background: white;
    text-align: justify;
    font-family: sans-serif;
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 10px solid white ;
   
}
